@using LyyCMS.Web.Models.Common.Modals
@model LyyCMS.Web.Models.Slide.EditSlideModalViewModel
@{ Layout = null; }
<div class="modal fade" id="SlideCreateModal" tabindex="-1" role="dialog" aria-labelledby="SlideCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewSlide")))
            <form name="roleCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="rolename">@L("Name")</label>
                        <div class="col-md-9">
                            <input id="name" type="text" name="Name" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="displayname">@L("Remark")</label>
                        <div class="col-md-9">
                            <input id="remark" type="text" name="Remark" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div>
                    
                </div>
                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
